<header class="header">
  <div class="container header-social-link">
    <nav class="nav">
      <div>
        <a href="current" class="nav-logo">WATCHCHARM</a>
      </div>
      <div class="burger-button">
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <ul class="nav-list">
        <li>
          <a class="nav-link active" href="#hero">Home</a>
        </li>
        <li>
          <a class="nav-link" href="#about-us">About us</a>
        </li>
        <li>
          <a class="nav-link" href="#catalog">Catalog</a>
        </li>
        <li>
          <a class="nav-link" href="#sale">Sale</a>
        </li>
        <li>
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
        <li>
          <a class="nav-link" href="#contact-us">Contact us</a>
        </li>
      </ul>
    </nav>
    <div>
      <ul class="nav-list">
        <li class="header-social-item">
          <a
            class="header-social-link"
            href="https://www.facebook.com/goITclub/"
          >
            <svg width="18" height="18" class="icon-itself">
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a
            class="header-social-link"
            href="https://www.instagram.com/goitclub/"
          >
            <svg width="18" height="18" class="icon-itself">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a class="header-social-link" href="https://www.youtube.com/c/GoIT">
            <svg width="18" height="18" class="icon-itself">
              <use href="/img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <hr class="header-line" />
</header>
